<h1>Add a Growl</h1>

<form action="/growls/new" method="post">
  Name:<br>
  <input type="text" name="growl[name]"><br>
  Growl:<br>
  <input type="text" name="growl[growl]"><br>
  <input type="submit">
</form><br>



<p><a href="/">Back to Growls!</a></p>


